/*
Pywalzen Stuff
*/
:root {
    --zen-primary-color: #d9d9d9 !important;
    --zen-colors-primary: var(--tab-loading-fill) !important;
    --zen-colors-secondary: var(--tab-loading-fill) !important;
    --toolbarbutton-icon-fill: var(--tab-loading-fill) !important;

    --zen-colors-tertiary: var(--lwt-accent-color) !important;
    --zen-main-browser-background: var(--lwt-accent-color) !important;
    --zen-themed-toolbar-bg: var(--lwt-accent-color) !important;
    --arrowpanel-background: var(--lwt-accent-color) !important;
    #urlbar[breakout-extend="true"] > #urlbar-background {
        background: var(--lwt-accent-color) !important;
    }
}

#urlbar:not([focused="true"]):not([breakout-extend="true"])
    > #urlbar-background {
    background: color-mix(
        in srgb,
        light-dark(#fff, var(--zen-colors-secondary)) 35%,
        transparent 65%
    ) !important;
}

#commonDialogWindow {
    background-color: black !important;
}

/*Browser*/
:root {
    --border-chrome: calc(var(--border-radius-small));
}

browser {
    background: var(--toolbar-bgcolor) !important;
}

#navigator-toolbox {
    background: var(--zen-main-browser-background) !important;
}

.browser-toolbox-background {
    background: var(--zen-main-browser-background) !important;
}

#browser {
    background: var(--zen-main-browser-background) !important;

    @media (not (-moz-windows-mica)) and (-moz-bool-pref: "zen.view.grey-out-inactive-windows") {
        :root:not([zen-welcome-stage]) &:-moz-window-inactive {
            &::after {
                background: var(--zen-main-browser-background) !important;
            }
        }
    }
}

#urlbar {
    border-radius: var(--border-chrome) !important;
    background: var(--toolbar-bgcolor) !important;
}

#urlbar-background {
    opacity: 0 !important;
    border-radius: var(--border-chrome) !important;
    outline: 1px solid var(--toolbar-field-focus-border-color) !important;
}

#urlbar[open] > #urlbar-background {
    opacity: 1 !important;
}

.tab-background {
    border-radius: var(--border-radius-small) !important;
}

#zen-essentials-container .tab-background {
    background: var(--toolbar-bgcolor) !important;
    outline-color: transparent !important;
}

#zen-essentials-container .tab-background::before {
    border-radius: calc(
        var(--border-radius-small) - var(--zen-essential-bg-margin)
    ) !important;
}

.zen-current-workspace-indicator {
    &::before {
        border-radius: var(--border-chrome) !important;
    }
}
#tabs-newtab-button {
    border-radius: var(--border-chrome) !important;
}

#vertical-pinned-tabs-container .tab-icon-stack {
    background: color-mix(
        in srgb,
        var(--toolbarbutton-hover-background) 50%,
        transparent 50%
    );
    border-radius: var(--tab-border-radius);
}

.urlbarView-row {
    color: var(--toolbar-color) !important;

    &[row-selectable]:not([selected]):hover {
        background-color: var(--toolbar-bgcolor) !important;
    }

    &[selected] {
        background-color: var(
            --toolbar-bgcolor
        ) !important; /* BACKGROUND SELECTED ON SEARCH*/
    }
}

/*zen's media player*/
toolbaritem {
    --zen-media-control-bg: var(--toolbar-bgcolor) !important;
}

/* ANIMATIONS */

/* Tab switch animation */
#tabbrowser-arrowscrollbox,
tab {
    transition: all 0.2s ease-in-out !important;
}

/* tab:not([zen-essential='true']):not([multiselected="true"]) .tab-background{
  transition: all 0.2s ease-in-out !important;
  scale: 0 !important;
} */

tab:not([zen-essential="true"]) .tab-background[selected] {
    scale: 1 !important;
}

#tabbrowser-tabpanels
    > hbox:not([zen-split="true"]):not(:has(.zen-glance-background)) {
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important;
    scale: 0.9 !important;
    opacity: 0;
    /*  left: -5vw; */
}

#tabbrowser-tabpanels > hbox.deck-selected:not([zen-split="true"]) {
    scale: 1 !important;
    opacity: 1 !important;
    /*  left: 0 !important; */
}

/* website view animations */
#browser:not(:has(.zen-glance-background)) #tabbrowser-tabpanels {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important;
}
