window {

--background: #1a1111;

--error: #ffb4ab;

--error_container: #93000a;

--inverse_on_surface: #382e2e;

--inverse_primary: #8f4a4c;

--inverse_surface: #f0dede;

--on_background: #f0dede;

--on_error: #690005;

--on_error_container: #ffdad6;

--on_primary: #561d21;

--on_primary_container: #ffdad9;

--on_primary_fixed: #3b080e;

--on_primary_fixed_variant: #733336;

--on_secondary: #44292a;

--on_secondary_container: #ffdad9;

--on_secondary_fixed: #2c1515;

--on_secondary_fixed_variant: #5d3f3f;

--on_surface: #f0dede;

--on_surface_variant: #d7c1c1;

--on_tertiary: #422c05;

--on_tertiary_container: #ffddaf;

--on_tertiary_fixed: #281800;

--on_tertiary_fixed_variant: #5b421a;

--outline: #a08c8c;

--outline_variant: #524343;

--primary: #ffb3b3;

--primary_container: #733336;

--primary_fixed: #ffdad9;

--primary_fixed_dim: #ffb3b3;

--scrim: #000000;

--secondary: #e6bdbc;

--secondary_container: #5d3f3f;

--secondary_fixed: #ffdad9;

--secondary_fixed_dim: #e6bdbc;

--shadow: #000000;

--source_color: #e9b2b2;

--surface: #1a1111;

--surface_bright: #423736;

--surface_container: #271d1d;

--surface_container_high: #322827;

--surface_container_highest: #3d3232;

--surface_container_low: #221919;

--surface_container_lowest: #140c0c;

--surface_dim: #1a1111;

--surface_tint: #ffb3b3;

--surface_variant: #524343;

--tertiary: #e5c18d;

--tertiary_container: #5b421a;

--tertiary_fixed: #ffddaf;

--tertiary_fixed_dim: #e5c18d;

}
