window {

--background: #191114;

--error: #ffb4ab;

--error_container: #93000a;

--inverse_on_surface: #372e31;

--inverse_primary: #894a67;

--inverse_surface: #eedfe2;

--on_background: #eedfe2;

--on_error: #690005;

--on_error_container: #ffdad6;

--on_primary: #531d38;

--on_primary_container: #ffd8e6;

--on_primary_fixed: #390722;

--on_primary_fixed_variant: #6e334e;

--on_secondary: #412a33;

--on_secondary_container: #fed9e5;

--on_secondary_fixed: #2a151e;

--on_secondary_fixed_variant: #593f4a;

--on_surface: #eedfe2;

--on_surface_variant: #d4c2c7;

--on_tertiary: #49280f;

--on_tertiary_container: #ffdcc6;

--on_tertiary_fixed: #301400;

--on_tertiary_fixed_variant: #633e23;

--outline: #9d8c91;

--outline_variant: #504348;

--primary: #ffb0d0;

--primary_container: #6e334e;

--primary_fixed: #ffd8e6;

--primary_fixed_dim: #ffb0d0;

--scrim: #000000;

--secondary: #e1bdc9;

--secondary_container: #593f4a;

--secondary_fixed: #fed9e5;

--secondary_fixed_dim: #e1bdc9;

--shadow: #000000;

--source_color: #df5a9c;

--surface: #191114;

--surface_bright: #40373a;

--surface_container: #261d20;

--surface_container_high: #30282b;

--surface_container_highest: #3c3235;

--surface_container_low: #21191c;

--surface_container_lowest: #130c0f;

--surface_dim: #191114;

--surface_tint: #ffb0d0;

--surface_variant: #504348;

--tertiary: #f1bb97;

--tertiary_container: #633e23;

--tertiary_fixed: #ffdcc6;

--tertiary_fixed_dim: #f1bb97;

}
