@use "colors.css" as *;

* {
    all: unset;
    font-family: "quicksand", serif;
    font-weight: 600;
}

:root {
    --screen-width: 20px;
    --screen-height: 20px;
}

$screen-width: var(--screen-width);
$screen-height: var(--screen-height);

$h1: calc(var(--screen-height) * 0.03);
$h2: calc(var(--screen-height) * 0.025);
$h3: calc(var(--screen-height) * 0.0175);
$h4: calc(var(--screen-height) * 0.015);
$h5: calc(var(--screen-height) * 0.0125);

.h1 {
    font-size: $h1;
}
.h2 {
    font-size: $h2;
}
.h3 {
    font-size: $h3;
}
.h4 {
    font-size: $h4;
}
.h5 {
    font-size: $h5;
}
