@use "../../config/globals.scss" as *;
$bar_width: $screen-width;

$bar_height: calc($screen-height * 0.06);

$container_width: calc($bar_height * 0.45);
$container_height: calc($bar_height * 0.45);
$container_padding: calc($bar_height * 0.1);
$container_margin: calc($bar_height * 0.2);

.Bar {
    min-height: $bar_height;

    .small {
        min-width: calc($container_width / 3);
        min-height: calc($container_height / 3);
    }

    .big {
        min-width: calc($container_width * 5);
        min-height: calc($container_height * 5);
    }

    .container {
        min-width: $container_width;
        min-height: $container_height;
        padding: $container_padding;
        margin: 0 $container_margin;
    }

    .container-extra-horizontal-padding {
        $padding: calc($container_width / 1.5);
        padding-left: $padding;
        padding-right: $padding;
    }

    .workspace-display {
        $workspace_size: calc($container_height * 0.9);
        $workspace_inactive_size: $workspace_size;
        $workspace_active_size: calc($workspace_size * 3);

        .workspace {
            transition:
                0.25s ease,
                background 0.15s ease-out;
            margin: 0 calc($container_margin * 0.25);
        }
        .workspace-inactive {
            min-width: $workspace_inactive_size;
            min-height: $workspace_size;
        }

        .workspace-active {
            min-width: $workspace_active_size;
            min-height: $workspace_size;
        }
    }
}
